<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlaUI.Core" version="3.0.0" targetFramework="net452" />
  <package id="FlaUI.UIA2" version="3.0.0" targetFramework="net452" requireReinstallation="true" />
  <package id="FlaUI.UIA3" version="3.0.0" targetFramework="net452" />
  <package id="Interop.UIAutomationClient" version="10.18362.0" targetFramework="net452" />
  <package id="System.Management" version="4.7.0" targetFramework="net452" />
</packages>